// ---------------------------------------
// Colors
// ---------------------------------------

$color-black: #000;
$color-white: #fff;

$color-orange: #FD7927;
$color-orange-dark: #C74800;

$color-gray-01: #f2f2f2;
$color-gray-02: #8C8C8C;
$color-gray-03: #555555;
$color-gray-04: #2B2C2D;