// ---------------------------------------
// Type
// ---------------------------------------

$font-family: 'BentonSans', -apple-system, 'Roboto', Helvetica, Arial, sans-serif;
$font-family-bold: 'BentonSansBold', -apple-system, 'Roboto', Helvetica, Arial, sans-serif;
$font-family-secondary: 'PlayoffBold', -apple-system, 'Roboto', Helvetica, Arial, sans-serif;