// ---------------------------------------
// Animations & Keyframes
// ---------------------------------------


@mixin animations($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }

    -ms-animations:    $animations;
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


// ---------------------------------------
// Animation
// ---------------------------------------


@mixin animation( $animation ) {
    -ms-animation:     $animation;
    -webkit-animation: $animation;
    -moz-animation:    $animation;
    -o-animation:      $animation;
    animation:         $animation;
}


// ---------------------------------------
// Animation Delay
// ---------------------------------------


@mixin animation-delay($delay...) {
    -ms-animation-delay:     $delay;
    -webkit-animation-delay: $delay;
    -moz-animation-delay:    $delay;
    -o-animation-delay:      $delay;
    animation-delay:         $delay;
}


// ---------------------------------------
// Animation Fill Mode
// ---------------------------------------


@mixin animation-fill-mode( $mode ) {
    -ms-animations-delay:        $mode;
    -webkit-animation-fill-mode: $mode;
    -moz-animation-fill-mode:    $mode;
    -o-animation-fill-mode:      $mode;
    animation-fill-mode:         $mode;
}