// ---------------------------------------
// Colors
// ---------------------------------------

$clr-white: #ffffff;

$clr-grey-01: #eeeeee;
$clr-grey-02: #f6f6f6;
$clr-grey-03: #616161;
$clr-grey-04: #3f3f3f;
$clr-grey-05: #d8d8d8;
$clr-grey-07: #bebebe;

$clr-blue-01: #083d8c;
$clr-blue-02: #216ddf;
$clr-blue-03: #01529e;

$clr-teal: #0bc9c8;