// ---------------------------------------
// Type
// ---------------------------------------

$font-family: 'OpenSans', Helvetica, Arial, sans-serif;
$font-family-extrabold: 'OpenSansExtraBold', Helvetica, Arial, sans-serif;
$font-family-bold: 'OpenSansBold', Helvetica, Arial, sans-serif;
$font-family-semibold: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
$font-family-light: 'OpenSansLight', Helvetica, Arial, sans-serif;