// --------------------------------------------------
// Contact Card
// --------------------------------------------------

.contact__card {
    @include flexbox();
    display: flex;
    padding: 14px;
    width: calc(33.33% - 30px);

    @include respond-to(screen-md) {
        width: calc(50% - 30px);
    }

    @include respond-to(screen-sm) {
        width: calc(50% - 30px);
    }

    @include respond-to(screen-xs) {
        padding: 4px 14px;
        width: 100%;
    }

    h2 {
        border-bottom: 2px solid $clr-grey-01;
        color: $clr-grey-04;
        font-family: $font-family-light;
        font-size: 26px;
        margin: 0 10px;
        padding: 30px 0;
        text-align: center;

        @include respond-to(screen-xs) {
            font-size: 20px;
            padding: 20px 0;
        }
    }

    .button {
        border-color: $clr-teal;
        color: $clr-blue-01;

        &:hover {
            background: $clr-teal;
            color: $clr-white;
        }
    }
}

.contact__card__wrap {
    @include flexbox();
    @include flex-direction(column);
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
    width: 100%;
}

.contact__card__content {
    @include flex(1 0 auto);
    @include flex-direction(column);
    padding: 30px 14px 0;
    text-align: center;
}

.contact__card__phone {
    padding: 0 10px 20px;

    a {
        @include align-items(center);
        @include inline-flex();
        @include justify-content(center);
        color: $clr-grey-04;
        font-family: $font-family-extrabold;
        font-size: 26px;

        @include respond-to(screen-xs) {
            background: $clr-blue-02;
            color: $clr-white;
            font-size: 18px;
            padding: 6px 10px;
        }

        > span {
            display: none;
            font-family: $font-family-extrabold;
            font-size: 10px;
            font-style: normal;

            @include respond-to(screen-xs) {
                display: inline-block;
                margin: -12px 8px 0;
            }
        }
    }

    span {
        display: block;
        font-family: $font-family;
        font-size: 12px;
        font-style: italic;
        padding: 12px 0 0;
    }

    .icon {
        padding-left: 32px;
        position: relative;

        &:before,
        &:after {
            padding: 0;
            position: absolute;
        }

        &:before {
            @include translateY(-50%);
            color: $clr-white;
            font-size: 14px;
            left: 0;
            top: 50%;
            z-index: 2;

            @include respond-to(screen-xs) {
                @include translateY(0);
                left: 9px;
                top: 10px;
            }
        }

        &:after {
            background: $clr-blue-02;
            border-radius: 50%;
            content: '';
            height: 24px;
            left: -5px;
            top: 2px;
            width: 24px;

            @include respond-to(screen-xs) {
                background: $clr-blue-01;
                border-radius: 0;
                left: 4px;
                top: 4px;
            }
        }
    }
}

.contact__card__hours {
    padding: 30px 10px;
}

.contact__card__hours__title {
    color: $clr-grey-04;
    font-family: $font-family-bold;
    font-size: 14px;
    padding-bottom: 4px;
}

.contact__card__hours__list__item {
    color: $clr-grey-04;
    display: block;
    font-family: $font-family;
    font-size: 13px;

    + .contact__card__hours__list__item {
        padding-top: 4px;
    }
}

.contact__card__services {
    background: $clr-grey-02;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 10px 10px;

    @include respond-to(screen-xs) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.contact__card__services__list {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    margin: 0 auto;
    max-width: 240px;
}

.contact__card__services__list__item {
    @include flex(1 0 auto);
    color: $clr-grey-04;
    font-family: $font-family;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    width: 50%;

    &:empty {
        display: none;
        visibility: hidden;
     }

    &:before {
        color: $clr-grey-05;
    }
}